[submodule "ngx_brotli"]
	path = ngx_brotli
	url = https://github.com/google/ngx_brotli.git
[submodule "nginx-rtmp-module"]
	path = nginx-rtmp-module
	url = https://github.com/arut/nginx-rtmp-module.git
[submodule "nginx-module-vts"]
	path = nginx-module-vts
	url = https://github.com/vozlt/nginx-module-vts.git
[submodule "nginx-upstream-dynamic-servers"]
	path = nginx-upstream-dynamic-servers
	url = https://github.com/GUI/nginx-upstream-dynamic-servers.git
[submodule "headers-more-nginx-module"]
	path = headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module.git
