name: Build debian package on push or release-tags.

on:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        shell: bash
        run: |
          sed -i -e 's/git\@github\.com\:/https\:\/\/github.com\//g' .gitmodules
          git submodule init
          git submodule sync --recursive
          git submodule update
          git submodule foreach bash -c "sed -i -e 's/git\@github\.com\:/https\:\/\/github.com\//g' .gitmodules || true"
          git submodule foreach git submodule sync --recursive
          git submodule foreach git submodule init
          git submodule foreach git submodule update --init --force --recursive

      - name: Install debhelper dh-make
        shell: bash
        run: |
          sudo apt install -y debhelper dh-make

      - name: Install dependent packages for building nginx
        shell: bash
        run: |
          sudo apt install -y libxml2-dev libxslt1-dev libgd-dev libgeoip-dev

      - name: Build debian package
        shell: bash
        env:
          REF: ${{ github.ref }}
          COMMIT: ${{ github.sha }}
        run: |
          nginx_dir="$(ls -1vd nginx/*/ | sed 's/\/$//g' | tail -n 1)"
          if [ "${REF:0:11}" = "refs/tags/v" ]; then
            sed -i -r "0,/^(\w+) \(([0-9\.]+)(-[0-9a-zA-Z]+)?\)/ s/^(\w+) \(([0-9\.]+)(-[0-9a-zA-Z]+)?\)/\1 (\2\3TAG${REF:11})/" ${nginx_dir}/debian/changelog
          else
            sed -i -r "0,/^(\w+) \(([0-9\.]+)(-[0-9a-zA-Z]+)?\)/ s/^(\w+) \(([0-9\.]+)(-[0-9a-zA-Z]+)?\)/\1 (\2\3$(date +DATE%Y%m%dTIME%H%M%S)CommitID${COMMIT:0:7})/" ${nginx_dir}/debian/changelog
          fi
          bash all.sh

      - name: Get debian package name
        shell: bash
        run: |
          echo "::set-output name=filename::$(basename $(find . -type f -name \*.deb))"
        id: get_deb_name

      - name: Upload result
        uses: actions/upload-artifact@v1
        with:
          name: nginx
          path: ${{ steps.get_deb_name.outputs.filename }}
